# Lydia Chein

## Research question/interests

My research question will be how the price be different when the female patient has a higher bmi(over 24.9)and with age range between 30 to 50 and will the price be higher when age range increased to over 50.

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("../data/raw/Medical_Cost.csv")

In [ ]:
data

      age     sex    bmi  children smoker     region     charges
0      48  female  28.88         1     no  northwest   9249.4952
1      36    male  27.55         3     no  northeast   6746.7425
2      53  female  22.61         3    yes  northeast  24873.3849
3      56  female  37.51         2     no  southeast  12265.5069
4      28  female  33.00         2     no  southeast   4349.4620
...   ...     ...    ...       ...    ...        ...         ...
1034   50    male  30.97         3     no  northwest  10600.5483
1035   18  female  31.92         0     no  northeast   2205.9808
1036   18  female  36.85         0     no  southeast   1629.8335
1037   21  female  25.80         0     no  southwest   2007.9450
1038   61  female  29.07         0    yes  northwest  29141.3603

[1039 rows x 7 columns]

In [ ]:
data2 = data.drop(["children", "smoker", "region"], axis = "columns")

In [ ]:
overAvg30_data=data2[(data2['bmi'] > 24.9) & (data['sex'] == 'female') & (data2['age']>30) & (data2['age']<50)]

In [ ]:
overAvg30_final=overAvg30_data.sort_values('age', ascending = False)

In [ ]:
overAvg30_final

     age     sex     bmi      charges
351   49  female  42.680   9800.88820
161   49  female  36.630  10381.47870
45    49  female  41.470  10977.20630
965   49  female  33.345  10370.91255
269   49  female  31.900  11552.90400
..   ...     ...     ...          ...
271   31  female  29.100   3761.29200
891   31  female  32.775   5327.40025
900   31  female  25.800   4934.70500
409   31  female  30.495   6113.23105
485   31  female  29.260   4350.51440

[167 rows x 4 columns]

In [ ]:
overAvg50_data=data2[(data2['bmi'] > 24.9) & (data['sex'] == 'female') & (data2['age']>50)]
overAvg50_final=overAvg50_data.sort_values('age', ascending = False)

In [ ]:
overAvg50_final

     age     sex     bmi      charges
591   64  female  26.885  29330.98315
502   64  female  35.970  14313.84630
103   64  female  32.965  14692.66935
526   64  female  31.825  16069.08475
304   64  female  39.050  16085.12750
..   ...     ...     ...          ...
306   51  female  34.100   9283.56200
421   51  female  40.660   9875.68040
419   51  female  36.670  10848.13430
407   51  female  38.060  44400.40640
223   51  female  33.915   9866.30485

[109 rows x 4 columns]